#xiao-yi-btn {
  cursor: pointer;
  position: fixed;
  background-color: #eee;
  padding: 1px 6px;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  z-index: 10000;
}
#xiao-yi-btn.xiao-yi-translate-result {
  padding: 2px 10px;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
::selection {
  color: #fff;
  background-color: rgb(37, 7, 232);
}
